section {
  width: 90%;
  height: 800px;
  background-color: #d0d0b8;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  margin: 20px;
}
.car {
  width: 90%;
  margin: 0px auto;
}

.bg__style {
  /* display: block; */
  /* width: 100%; */
  background-color: #23357291;
  padding: 5px;
  color: white;
  margin: 5px;
}
.bg__style:hover {
  background-color: #eaedeee3;
  color: black;
  cursor: pointer;
}

.decor {
  border: 2px solid rgb(0, 0, 0);
  text-align: left;
  display: inline-block;
  background-color: rgba(31, 82, 129, 0.692);
  color: rgb(235, 223, 223);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 2px;
  margin: 10px 0px;
}
.car__box {
  position: relative;
  width: 700px;
  height: 300px;
  margin: 0px auto;
  // outline: 2px solid gold;
}
#car__frame {
  position: absolute;
  margin: 0px auto;
  z-index: 10;
  color: #000000;
  opacity: 1;
  transition: 1.2s;
}
.glass {
  top: 57px;
  left: 142px;
  position: absolute;
  width: 300px;
  height: 74px;
  background-color: black;
  /* border-radius: 455px/80px; */
  border-top-right-radius: 70%;
  border-top-left-radius: 50%;
  z-index: 0;
  opacity: 1;
}
.wheel-left {
  position: absolute;
  top: 158px;
  left: 97px;
}
.wheel-right {
  position: absolute;
  top: 158px;
  left: 533px;
}
.graf {
  position: absolute;
  top: 120px;
  left: 330px;
  background-size: cover;
  width: 115px;
  height: 115px;
  z-index: 10;
}
.graf__size {
  width: 50px;
  height: 50px;
  background-size: cover;
}
.graf__back {
  background-image: url(/images/airbrushing/pulia.png);
}
.graf__back2 {
  background-image: url(/images/airbrushing/head.png);
}
.graf__back3 {
  background-image: url(/images/airbrushing/gora.png);
}
.graf__back4 {
  background-image: url(/images/airbrushing/play.png);
}
.radius {
  background-color: rgb(185, 184, 176);
  border-radius: 50%;
  transition: 1.2s;
}

#car__frame svg {
  width: 50%;
}

#car__frame svg path {
  fill: currentColor;
}
.glass__function {
  margin-top: 100px;
}
.custom-range {
  width: 100%;
}

.red {
  background-color: red;
}
